<footer class="site-footer">
    <div class="container">
        <table>
            <th>&copy; {{ site.time | date: '%Y' }} <a href="mailto:{{ site.author.mail }}">{{ site.author.name }}</a>
            </th><th style="text-align: center;">💻 Powered by <a href="/credits">a lot of cool people</a></th>
            <th style="text-align: right;">🎨 Designed by <a href="https://github.com/happyzleaf/happyzleaf.github.io">happyzleaf</a></th>
        </table>
    </div>
    <a id="back2Top" title="Back to top" href="#">&#10148;</a>
    <script src=""></script>
    <script src="{{ "/assets/js/backToTop.js" | prepend: site.baseurl | prepend: site.url }}"></script>
</footer>