<!-- (anonymized) Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script> -->
<script>
    /* TODO per qualche motivo comprime lo stesso ste righe, scopri perché che sta soluzione è brutta */
    /* window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics }}', { 'anonymize_ip': true });*/

    function loadKatex() {
        renderMathInElement(document.body, {delimiters: [{left: "$", right: "$", display: false}]});
    }
</script>