<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-16x16.png"> <!-- Don't ask me why chrome needs the sizes inverted. -->
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-32x32.png">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.png">
    <link rel="manifest" href="/assets/images/icons/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#212121">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#212121">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"> <!-- Praise this god https://stackoverflow.com/a/36693202/11138219 -->

    {% assign page_title = '' %}
    {% capture page_title %}
        /{{ site.title_left }}{{ site.title_right }}/
    {% endcapture %}
    {% if page.title != "Home" %}
        {% capture page_title %}
            {{ page_title }} {{ page.title }}
        {% endcapture %}
    {% endif %}
    {% capture page_title %}
        {{ page_title | strip | rstrip | lstrip | escape | strip_newlines }}
    {% endcapture %}
    <title>{{ page_title }}</title>

    {% assign page_description = '' %}
    {% capture page_description %}
        {% if page.description %}
            {{ page.description | strip_html | strip | rstrip | strip_newlines | truncate: 160 }}
        {% else %}
            {{ site.description }}
        {% endif %}
    {% endcapture %}

    {% capture page_description %}
        {{ page_description | strip | rstrip | lstrip | escape | strip_newlines }}
    {% endcapture %}

    <meta name="description" content="{{ page_description }}">
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    {% assign page_image = '' %}
    {% capture page_image %}
        {{ site.cover | prepend: site.baseurl | prepend: site.url }}
    {% endcapture %}
    {% capture page_image %}
        {{ page_image | strip | rstrip | lstrip | escape | strip_newlines }}
    {% endcapture %}

    <!-- Social: Facebook / Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:image" content="{{ page_image }}">
    <meta property="og:description" content="{{ page_description }}">
    <meta property="og:site_name" content="{{ site.author.name }}">
    <meta property="og:locale" content="en_US">

    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ site.twitter_username }}">
    <meta name="twitter:title" content="{{ page_title }}">
    <meta name="twitter:description" content="{{ page_description }}">
    <meta name="twitter:image:src" content="{{ page_image }}">

    <!-- Social: Google+ / Schema.org  -->
    <meta itemprop="name" content="{{ page_title }}">
    <meta itemprop="description" content="{{ page_description }}">
    <meta itemprop="image" content="{{ page_image }}">

    <!-- Canonical link tag -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl | prepend: site.url }}">
</head>
