<div class="normal-menu">
    <ul class="navbar">
        <li><a href="https://ore.spongepowered.org/happyzlife" target="_blank">Sponge <i class="fas fa-external-link-alt"></i></a></li>
        <li><a href="https://github.com/happyzleaf/" target="_blank">GitHub <i class="fas fa-external-link-alt"></i></a></li>
    </ul>
</div>

<!--    Made by Erik Terwan    -->
<!--   24th of November 2015   -->
<!--        MIT License        -->
<nav class="hamburger-menu" role='navigation'>
    <div id="menuToggle">
        <!--
        A fake / hidden checkbox is used as click reciever,
        so you can use the :checked selector on it.
        -->
        <input type="checkbox" />

        <!--
        Some spans to act as a hamburger.

        They are acting like a real hamburger,
        not that McDonalds stuff.
        -->
        <span></span>
        <span></span>
        <span></span>

        <!--
        Too bad the menu has to be inside of the button
        but hey, it's pure CSS magic.
        -->
        <ul id="menu">
            <a href="https://ore.spongepowered.org/happyzlife" target="_blank"><li>Sponge <i class="fas fa-external-link-alt"></i></li></a>
            <a href="https://github.com/happyzleaf/" target="_blank"><li>Github <i class="fas fa-external-link-alt"></i></li></a>
            <a href="mailto:marco@montanari.cc"><li>Mail me <i class="far fa-envelope"></i></li></a>
        </ul>
    </div>
</nav>
