// -------------------------------------------------------- //

// ----------------- Theme ----------------- //
// Original: coolors.co/212121-323232-fcfcfc-ef3e36-c21420
$color1: rgba(33, 33, 33, 1);
$color2: rgba(50, 50, 50, 1);
$color3: rgba(252, 252, 252, 1);
$color4: rgb(254, 35, 85); // rgba(239, 62, 54, 1);
//$color5: rgba(194, 20, 32, 1); // I should find some use for this

$theme-background-primary: $color1;
$theme-background-secondary: $color2;
$theme-primary: $color3;
$theme-secondary: $color4;
// ----------------------------------------- //

$link-color: $theme-secondary;

$header-background-color: $theme-background-primary;
$code-background-color: lighten($theme-secondary, 5%);

// -------------------------------------------------------- //

// Typography
@import url('https://fonts.googleapis.com/css?family=Noto+Sans'); // @import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,700');
$base-font-family: 'Noto Sans', monospace; // $base-font-family: 'Overpass Mono', monospace;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: .52em;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$action-color: $theme-secondary;

$white-color: #fff;
$black-color: #000;
$blue-color: #0086B3;
$dark-gray-color: #333;
$medium-gray-color: #999;
$light-gray-color: #ccc;

// Font Colors
$base-font-color: $theme-primary;

// Border
$base-border-color: $light-gray-color;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $theme-background-primary;
$secondary-background-color: $theme-background-secondary;

// Forms
$form-box-shadow: inset 0 1px 3px rgba($black-color, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
